<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="CSS/styles.css">
    
</head>

<body>
    <div class="main-content">
    {{>header}}
     <p>Use this site to get the weather</p>
    <form>
    <input>
    <button>Know the Weather</button>
    </form>
    <p id="message-e"></p>
    <p id="message-c"></p>
    </div>
    <div>        
    </div>
   
    {{>footer}}
     <script src="JS/app.js"> </script>
</body>
</html>
